<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level 01</key>
	<array>
		<dict>
			<key>score</key>
			<integer>83</integer>
			<key>stars</key>
			<integer>2</integer>
			<key>time</key>
			<integer>17</integer>
			<key>timestamp</key>
			<integer>89545233</integer>
		</dict>
		<dict>
			<key>score</key>
			<integer>87</integer>
			<key>stars</key>
			<integer>2</integer>
			<key>time</key>
			<integer>16</integer>
			<key>timestamp</key>
			<integer>89548711</integer>
		</dict>
	</array>
	<key>Level 02</key>
	<array>
		<dict>
			<key>score</key>
			<integer>237</integer>
			<key>stars</key>
			<integer>3</integer>
			<key>time</key>
			<integer>11</integer>
			<key>timestamp</key>
			<integer>89545287</integer>
		</dict>
		<dict>
			<key>score</key>
			<integer>221</integer>
			<key>stars</key>
			<integer>1</integer>
			<key>time</key>
			<integer>15</integer>
			<key>timestamp</key>
			<integer>89548740</integer>
		</dict>
	</array>
	<key>Level 03</key>
	<array>
		<dict>
			<key>score</key>
			<integer>193</integer>
			<key>stars</key>
			<integer>1</integer>
			<key>time</key>
			<integer>23</integer>
			<key>timestamp</key>
			<integer>89545319</integer>
		</dict>
		<dict>
			<key>score</key>
			<integer>204</integer>
			<key>stars</key>
			<integer>2</integer>
			<key>time</key>
			<integer>20</integer>
			<key>timestamp</key>
			<integer>89548768</integer>
		</dict>
	</array>
</dict>
</plist>
