<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parts</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>100</integer>
			<key>radius</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>0</integer>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>74</integer>
			<key>radius</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>type</key>
			<integer>0</integer>
			<key>x</key>
			<integer>143</integer>
			<key>y</key>
			<integer>128</integer>
			<key>radius</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>type</key>
			<integer>0</integer>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>152</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>type</key>
			<integer>0</integer>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>179</integer>
			<key>radius</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>type</key>
			<integer>0</integer>
			<key>x</key>
			<integer>144</integer>
			<key>y</key>
			<integer>209</integer>
			<key>radius</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>type</key>
			<integer>0</integer>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>243</integer>
			<key>radius</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>269</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>251</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>226</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>119</integer>
			<key>y</key>
			<integer>196</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>111</integer>
			<key>y</key>
			<integer>170</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>145</integer>
			<key>radius</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>115</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>88</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>123</integer>
			<key>y</key>
			<integer>64</integer>
			<key>radius</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>49</integer>
			<key>radius</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>61</integer>
			<key>radius</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>89</integer>
			<key>radius</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>115</integer>
			<key>radius</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>141</integer>
			<key>radius</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>172</integer>
			<key>y</key>
			<integer>166</integer>
			<key>radius</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>191</integer>
			<key>radius</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>218</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>250</integer>
			<key>radius</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>275</integer>
			<key>radius</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>clamps</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>body1</key>
			<integer>1</integer>
			<key>body2</key>
			<integer>0</integer>
			<key>str</key>
			<real>21.366867559030652</real>
			<key>damp</key>
			<real>0.2749372492544353</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>body1</key>
			<integer>2</integer>
			<key>body2</key>
			<integer>1</integer>
			<key>str</key>
			<real>37.07424578536302</real>
			<key>damp</key>
			<real>0.6233156356029212</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>body1</key>
			<integer>3</integer>
			<key>body2</key>
			<integer>2</integer>
			<key>str</key>
			<real>62.53234269563109</real>
			<key>damp</key>
			<real>0.41145816491916776</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>body1</key>
			<integer>4</integer>
			<key>body2</key>
			<integer>3</integer>
			<key>str</key>
			<real>51.074056869372725</real>
			<key>damp</key>
			<real>0.4930610335431993</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>body1</key>
			<integer>5</integer>
			<key>body2</key>
			<integer>4</integer>
			<key>str</key>
			<real>38.27210229728371</real>
			<key>damp</key>
			<real>0.5309798787347972</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>body1</key>
			<integer>6</integer>
			<key>body2</key>
			<integer>5</integer>
			<key>str</key>
			<real>36.90629111137241</real>
			<key>damp</key>
			<real>0.2067978410050273</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>body1</key>
			<integer>7</integer>
			<key>body2</key>
			<integer>6</integer>
			<key>str</key>
			<real>16.842701020650566</real>
			<key>damp</key>
			<real>0.22748625418171287</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>body1</key>
			<integer>7</integer>
			<key>body2</key>
			<integer>6</integer>
			<key>str</key>
			<real>8.041300334967673</real>
			<key>damp</key>
			<real>0.8057738426141441</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>body1</key>
			<integer>8</integer>
			<key>body2</key>
			<integer>7</integer>
			<key>str</key>
			<real>22.585573263466358</real>
			<key>damp</key>
			<real>0.470608186442405</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>body1</key>
			<integer>8</integer>
			<key>body2</key>
			<integer>7</integer>
			<key>str</key>
			<real>49.67149818409234</real>
			<key>damp</key>
			<real>0.9749905145727098</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>body1</key>
			<integer>9</integer>
			<key>body2</key>
			<integer>8</integer>
			<key>str</key>
			<real>61.18477425724268</real>
			<key>damp</key>
			<real>0.9656866020523012</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>body1</key>
			<integer>9</integer>
			<key>body2</key>
			<integer>5</integer>
			<key>str</key>
			<real>8.418504018336535</real>
			<key>damp</key>
			<real>0.9017048277892172</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>body1</key>
			<integer>10</integer>
			<key>body2</key>
			<integer>9</integer>
			<key>str</key>
			<real>19.43965646158904</real>
			<key>damp</key>
			<real>0.5435414942912757</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>body1</key>
			<integer>10</integer>
			<key>body2</key>
			<integer>5</integer>
			<key>str</key>
			<real>9.683261132799089</real>
			<key>damp</key>
			<real>0.23931781016290188</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>body1</key>
			<integer>11</integer>
			<key>body2</key>
			<integer>10</integer>
			<key>str</key>
			<real>35.03486666735262</real>
			<key>damp</key>
			<real>0.8492396660149097</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>body1</key>
			<integer>11</integer>
			<key>body2</key>
			<integer>4</integer>
			<key>str</key>
			<real>10.340405276976526</real>
			<key>damp</key>
			<real>0.3530432009138167</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>body1</key>
			<integer>12</integer>
			<key>body2</key>
			<integer>11</integer>
			<key>str</key>
			<real>19.993926362134516</real>
			<key>damp</key>
			<real>0.8420039312914014</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>body1</key>
			<integer>12</integer>
			<key>body2</key>
			<integer>3</integer>
			<key>str</key>
			<real>10.22133728954941</real>
			<key>damp</key>
			<real>0.4437932330183685</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>body1</key>
			<integer>13</integer>
			<key>body2</key>
			<integer>12</integer>
			<key>str</key>
			<real>29.834407727234066</real>
			<key>damp</key>
			<real>0.5041797184385359</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>body1</key>
			<integer>13</integer>
			<key>body2</key>
			<integer>2</integer>
			<key>str</key>
			<real>2.2957320027053356</real>
			<key>damp</key>
			<real>0.7232103357091546</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>body1</key>
			<integer>14</integer>
			<key>body2</key>
			<integer>13</integer>
			<key>str</key>
			<real>60.56337044760585</real>
			<key>damp</key>
			<real>0.07824211893603206</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>body1</key>
			<integer>14</integer>
			<key>body2</key>
			<integer>0</integer>
			<key>str</key>
			<real>25.181982869282365</real>
			<key>damp</key>
			<real>0.029074602760374546</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>body1</key>
			<integer>15</integer>
			<key>body2</key>
			<integer>14</integer>
			<key>str</key>
			<real>10.820606800727546</real>
			<key>damp</key>
			<real>0.3659080872312188</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>body1</key>
			<integer>15</integer>
			<key>body2</key>
			<integer>1</integer>
			<key>str</key>
			<real>14.445488061755896</real>
			<key>damp</key>
			<real>0.5499700247310102</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>body1</key>
			<integer>16</integer>
			<key>body2</key>
			<integer>15</integer>
			<key>str</key>
			<real>19.235646066255867</real>
			<key>damp</key>
			<real>0.43813260085880756</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>body1</key>
			<integer>16</integer>
			<key>body2</key>
			<integer>1</integer>
			<key>str</key>
			<real>18.414677100256085</real>
			<key>damp</key>
			<real>0.9350624484941363</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>26</integer>
			<key>body1</key>
			<integer>17</integer>
			<key>body2</key>
			<integer>16</integer>
			<key>str</key>
			<real>16.558589248917997</real>
			<key>damp</key>
			<real>0.09059331240132451</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>27</integer>
			<key>body1</key>
			<integer>17</integer>
			<key>body2</key>
			<integer>1</integer>
			<key>str</key>
			<real>44.398876324296</real>
			<key>damp</key>
			<real>0.022262795362621546</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>28</integer>
			<key>body1</key>
			<integer>18</integer>
			<key>body2</key>
			<integer>17</integer>
			<key>str</key>
			<real>8.097243729047477</real>
			<key>damp</key>
			<real>0.6010824292898178</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>29</integer>
			<key>body1</key>
			<integer>18</integer>
			<key>body2</key>
			<integer>0</integer>
			<key>str</key>
			<real>33.250850387848914</real>
			<key>damp</key>
			<real>0.40180346136912704</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>30</integer>
			<key>body1</key>
			<integer>19</integer>
			<key>body2</key>
			<integer>18</integer>
			<key>str</key>
			<real>32.302236726507545</real>
			<key>damp</key>
			<real>0.6740109026432037</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>body1</key>
			<integer>19</integer>
			<key>body2</key>
			<integer>0</integer>
			<key>str</key>
			<real>57.17490138951689</real>
			<key>damp</key>
			<real>0.9622622872702777</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>body1</key>
			<integer>20</integer>
			<key>body2</key>
			<integer>19</integer>
			<key>str</key>
			<real>40.387005063705146</real>
			<key>damp</key>
			<real>0.9924644725397229</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>body1</key>
			<integer>20</integer>
			<key>body2</key>
			<integer>3</integer>
			<key>str</key>
			<real>5.601177506148815</real>
			<key>damp</key>
			<real>0.9357715244404972</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>34</integer>
			<key>body1</key>
			<integer>21</integer>
			<key>body2</key>
			<integer>20</integer>
			<key>str</key>
			<real>31.414579099975526</real>
			<key>damp</key>
			<real>0.09952298970893025</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>35</integer>
			<key>body1</key>
			<integer>21</integer>
			<key>body2</key>
			<integer>4</integer>
			<key>str</key>
			<real>40.75032860971987</real>
			<key>damp</key>
			<real>0.21027827076613903</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>36</integer>
			<key>body1</key>
			<integer>22</integer>
			<key>body2</key>
			<integer>21</integer>
			<key>str</key>
			<real>56.731482616625726</real>
			<key>damp</key>
			<real>0.20366824604570866</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>37</integer>
			<key>body1</key>
			<integer>22</integer>
			<key>body2</key>
			<integer>4</integer>
			<key>str</key>
			<real>59.93362286128104</real>
			<key>damp</key>
			<real>0.08250980731099844</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>38</integer>
			<key>body1</key>
			<integer>23</integer>
			<key>body2</key>
			<integer>22</integer>
			<key>str</key>
			<real>21.093540982343256</real>
			<key>damp</key>
			<real>0.23207350354641676</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>39</integer>
			<key>body1</key>
			<integer>23</integer>
			<key>body2</key>
			<integer>5</integer>
			<key>str</key>
			<real>51.62996554560959</real>
			<key>damp</key>
			<real>0.1357281324453652</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>40</integer>
			<key>body1</key>
			<integer>24</integer>
			<key>body2</key>
			<integer>23</integer>
			<key>str</key>
			<real>4.600769184529781</real>
			<key>damp</key>
			<real>0.13610410690307617</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>41</integer>
			<key>body1</key>
			<integer>24</integer>
			<key>body2</key>
			<integer>6</integer>
			<key>str</key>
			<real>4.287861881777644</real>
			<key>damp</key>
			<real>0.8362380051985383</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>42</integer>
			<key>body1</key>
			<integer>25</integer>
			<key>body2</key>
			<integer>24</integer>
			<key>str</key>
			<real>50.17910022102296</real>
			<key>damp</key>
			<real>0.10323607735335827</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>43</integer>
			<key>body1</key>
			<integer>25</integer>
			<key>body2</key>
			<integer>7</integer>
			<key>str</key>
			<real>30.2695830212906</real>
			<key>damp</key>
			<real>0.2828580690547824</real>
		</dict>
	</array>
</dict>
</plist>
