<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>goals</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>420</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>50</integer>
		</dict>
	</array>
	<key>walls</key>
	<array/>
</dict>
</plist>
