<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg</key>
	<integer>0</integer>
	<key>player</key>
	<integer>0</integer>
	<key>goals</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>1</integer>
			<key>x</key>
			<integer>274</integer>
			<key>y</key>
			<integer>415</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>52</integer>
		</dict>
	</array>
	<key>waypts</key>
	<array>
	</array>
	<key>pickups</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>239</integer>
			<key>y</key>
			<integer>376</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>300</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>299</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>197</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>198</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>196</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>131</integer>
			<key>y</key>
			<integer>195</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>170</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>133</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>201</integer>
			<key>y</key>
			<integer>93</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>healths</key>
	<array>
	</array>
	<key>stars</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>346</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>29</integer>
			<key>y</key>
			<integer>286</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>202</integer>
		</dict>
	</array>
	<key>walls</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>angle</key>
			<integer>0</integer>
			<key>spikes</key>
			<integer>2</integer>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>256</integer>
			<key>friction</key>
			<real>0.5</real>
			<key>bounce</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
			<key>angle</key>
			<integer>0</integer>
			<key>spikes</key>
			<integer>2</integer>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>161</integer>
			<key>friction</key>
			<real>0.5</real>
			<key>bounce</key>
			<real>0.1</real>
		</dict>
	</array>
	<key>studs</key>
	<array>
	</array>
	<key>traps</key>
	<array>
	</array>
	<key>darts</key>
	<array>
	</array>
	<key>bombs</key>
	<array>
	</array>
	<key>punters</key>
	<array>
	</array>
	<key>handwheels</key>
	<array>
	</array>
	<key>conveyors</key>
	<array>
	</array>
</dict>
</plist>
