<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg</key>
	<integer>0</integer>
	<key>player</key>
	<integer>0</integer>
	<key>goals</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>1</integer>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>408</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>161</integer>
			<key>y</key>
			<integer>46</integer>
		</dict>
	</array>
	<key>waypts</key>
	<array>
	</array>
	<key>pickups</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>299</integer>
			<key>y</key>
			<integer>286</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>264</integer>
			<key>y</key>
			<integer>298</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>315</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>106</integer>
			<key>y</key>
			<integer>377</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>356</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>274</integer>
			<key>y</key>
			<integer>256</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>240</integer>
			<key>y</key>
			<integer>230</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>254</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>healths</key>
	<array>
	</array>
	<key>stars</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>x</key>
			<integer>182</integer>
			<key>y</key>
			<integer>332</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>205</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
	</array>
	<key>walls</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>1</integer>
			<key>angle</key>
			<integer>0</integer>
			<key>spikes</key>
			<integer>2</integer>
			<key>x</key>
			<integer>129</integer>
			<key>y</key>
			<integer>296</integer>
			<key>friction</key>
			<real>0.5</real>
			<key>bounce</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
			<key>angle</key>
			<integer>0</integer>
			<key>spikes</key>
			<integer>2</integer>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>169</integer>
			<key>friction</key>
			<real>0.5</real>
			<key>bounce</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
			<key>angle</key>
			<integer>1</integer>
			<key>spikes</key>
			<integer>2</integer>
			<key>x</key>
			<integer>63</integer>
			<key>y</key>
			<integer>202</integer>
			<key>friction</key>
			<real>0.5</real>
			<key>bounce</key>
			<real>0.1</real>
		</dict>
	</array>
	<key>studs</key>
	<array>
	</array>
	<key>traps</key>
	<array>
	</array>
	<key>darts</key>
	<array>
	</array>
	<key>bombs</key>
	<array>
	</array>
	<key>punters</key>
	<array>
	</array>
	<key>handwheels</key>
	<array>
	</array>
	<key>conveyors</key>
	<array>
	</array>
</dict>
</plist>
