<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg</key>
	<integer>1</integer>
	<key>player</key>
	<integer>0</integer>
	<key>goals</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>1</integer>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>426</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>63</integer>
		</dict>
	</array>
	<key>waypts</key>
	<array>
	</array>
	<key>pickups</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>156</integer>
			<key>y</key>
			<integer>377</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>106</integer>
			<key>y</key>
			<integer>349</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>95</integer>
			<key>y</key>
			<integer>280</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>199</integer>
			<key>y</key>
			<integer>402</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>247</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>151</integer>
			<key>y</key>
			<integer>152</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>type</key>
			<integer>2</integer>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>113</integer>
			<key>points</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>healths</key>
	<array>
	</array>
	<key>stars</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>x</key>
			<integer>59</integer>
			<key>y</key>
			<integer>322</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>x</key>
			<integer>186</integer>
			<key>y</key>
			<integer>210</integer>
		</dict>
	</array>
	<key>walls</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>type</key>
			<integer>1</integer>
			<key>angle</key>
			<integer>0</integer>
			<key>spikes</key>
			<integer>2</integer>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>169</integer>
			<key>friction</key>
			<real>0.5</real>
			<key>bounce</key>
			<real>0.1</real>
		</dict>
	</array>
	<key>studs</key>
	<array>
	</array>
	<key>traps</key>
	<array>
	</array>
	<key>darts</key>
	<array>
	</array>
	<key>bombs</key>
	<array>
	</array>
	<key>punters</key>
	<array>
	</array>
	<key>handwheels</key>
	<array>
	</array>
	<key>conveyors</key>
	<array>
	</array>
</dict>
</plist>
