<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GutzTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C08C95113A957B2007A0542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C45B72813CC9EC0004D71A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C45B73213CC9EC3004D71A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C69D5CE13EFBFE300B17B33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C69D5DA13EFC04F00B17B33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C69D63913EFC39F00B17B33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B69113CCBE7E006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B6DC13CCBFAC006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B7BC13CCC238006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B84113CCC398006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B9A913CCC96A006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B9C813CCC9E6006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B9D413CCCA2A006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2BA0D13CCD002006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2BA2C13CCD09C006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2BA4513CCD117006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2BA8B13CCD77C006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2BAB913CCD83D006F9F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CC3586813D8A312008E8FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE57ADF13E54C3100D9AD7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
