<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Artist URL</key>
	<string>http://www.stephentopkins.com/artist/</string>
	<key>GUTZ Info</key>
	<string>http://www.stephentopkins.com/</string>
	<key>Played Timestamp</key>
	<integer>89548788</integer>
	<key>Pushes Enabled</key>
	<true/>
	<key>Sounds Enabled</key>
	<true/>
	<key>Studio URL</key>
	<string>http://www.sparklemountain.com/</string>
</dict>
</plist>
